@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

/* Registra tu font family personalizada y le indicamos al navegador dónde encontrarla. */
@font-face {
  font-family: 'Sentient';
  src: url('/fonts/Sentient-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage';
  src: url('/fonts/BricolageGrotesque-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* Reset básico */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --color-primary: #dfdd19;
  --color-secondary: #354093;
  --color-white-primary: #ffffff;

  /* Variables generales */
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --transition-default: 0.3s ease;
  --box-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.05);
  --font-sans: system-ui, sans-serif;

}

html {
  font-size: 16px;
  /* 1rem = 16px */
}

body {
  font-family: var(--font-family);
  cursor: none;
}

h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
}

h2 {
  font-size: clamp(2rem, 4vw + 0.5rem, 3rem);
}

h3 {
  font-size: clamp(1.75rem, 3vw + 0.5rem, 2.5rem);
}

h4 {
  font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2rem);
}

h5 {
  font-size: clamp(1.25rem, 2vw + 0.25rem, 1.5rem);
}

h6 {
  font-size: clamp(1.125rem, 1.5vw + 0.25rem, 1.25rem);
}

p {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

small {
  font-size: clamp(0.875rem, 1vw, 1rem);
}


a,
button {
  user-select: none;
  white-space: nowrap;
  border: none;
  outline: none;
  color: inherit;
  cursor: none;
  background: unset;
}

img,
svg,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}