@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

/* Registra tu font family personalizada y le indicamos al navegador dónde encontrarla. */
@font-face {
  font-family: 'Sentient';
  src: url('/fonts/Sentient-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage';
  src: url('/fonts/BricolageGrotesque-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* Reset básico */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --color-primary: #dfdd19;
  --color-secondary: #354093;
  --color-white-primary: #ffffff;

  /* Variables generales */
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --transition-default: 0.3s ease;
  --box-shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.05);
  --font-sans: system-ui, sans-serif;

}

body {
  font-family: var(--font-family);
  overflow: hidden;
  cursor: none;
}

a,
button {
  user-select: none;
  white-space: nowrap;
  border: none;
  outline: none;
  color: inherit;
  cursor: none;
  background: unset;
}

img,
svg,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}



.maintenance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  font-family: system-ui, sans-serif;
}

.maintenance h1 {
  font-size: 2rem;
}

.maintenance p {
  opacity: 0.8;
  margin-top: 0.5rem;
}
