h1,
h2,
h3,
h4,
h5 {
    font-family: inherit;
    line-height: 1.25;
    text-wrap: balance;
    word-wrap: break-word;
}

p,
li {
    font-family: inherit;
    line-height: 2;
    text-wrap: pretty;
    word-wrap: break-word;
}


h1 {
  font-size: clamp(1rem, 10vw, 12rem);
  color: var(--color-accent);
}

p {
  font-size: 1rem;
}