---
import { ilustraciones } from "@/data/ilustraciones";
import IlustracionItem from "@/components/IlustracionItem.astro";
import "@/assets/css/reset.css";
import "@/assets/css/styles.css";
import "@/assets/css/typography.css";
import GoBack from "@/assets/go-back-arrow.svg";
---

<style>
  .go-back {
    position: fixed;
    top: 2rem;
    left: 3rem;
  }
  .go-back svg {
    width: 2rem;
    height: 2rem;
  }
</style>

<section class="section-ilustracion">
  <div class="go-back">
    <a href="javascript:history.back()" aria-label="Volver atrás">
      <GoBack />
    </a>
  </div>
  <div class="gallery">
    {ilustraciones.map((item) => <IlustracionItem {...item} />)}
  </div>
</section>
