---
import { ilustraciones } from "@/data/data";
import IlustracionItem from "@/components/IlustracionItem.astro";
import ArrowBack from "@/components/ArrowBack.astro";
import "@/assets/css/reset.css";
import "@/assets/css/styles.css";
import "@/assets/css/typography.css";
---

<style>
  .section-ilustracion {
    background-color: var(--color-secondary);
  }
</style>


<section class="section-ilustracion">
<ArrowBack />
  <div class="gallery">
    {ilustraciones.map((item) => <IlustracionItem {...item} />)}
  </div>
</section>
