<section class="section s3">
    <div class="container about-section">
        <div class="about-img">
            <img
                src="/public/img/Silvia.jpg"
                alt="Foto de perfil"
                srcset=""
            />
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            tempore repudiandae harum numquam ex culpa dolore eaque suscipit
            odit! Ducimus vel illo at perferendis rem laudantium, saepe in totam
            reprehenderit.
        </div>
    </div>
</section>
