<section class="section s3">
    <div class="container about-section">
        <div class="about-img">
            <img
                src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                srcset=""
            />
        </div>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            tempore repudiandae harum numquam ex culpa dolore eaque suscipit
            odit! Ducimus vel illo at perferendis rem laudantium, saepe in totam
            reprehenderit.
        </div>
    </div>
</section>
