---
import Waves from "./Waves.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---

<style>
  .contact-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 20;
  }

  .notMobile {
    display: none;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 3rem;
    justify-content: space-evenly;

    .contact-title {
      color: var(--color-text);
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  button {
    background-color: var(--color-text);
  }

  @media screen and (min-width: 48rem) {
    .contact-container {
      flex-direction: row;
    }

    .notMobile {
      display: block;
    }
  }
</style>

<section class="section s5">
  <Waves
    color="#eff3fa"
  />
  <div class="container contact-container">
    <div class="contact-content">
      <div class="contact-title">
        <h2>Abro buzón de ideas</h2>
      </div>
      <div class="contact-info">
        <p>¿Tienes una historia que pide a gritos color?</p>
        <p class="notMobile">¿Un proyecto que quiere cobrar vida?</p>
        <p class="notMobile">
          Cuéntamelo. Estoy al otro lado, con lápices afilados y muchas ganas de
          crear.
        </p>
        <p>Rellena el formulario y empezamos a dibujar juntos.</p>
      </div>
    </div>
    <form action="#" method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" rows="3" required></textarea>

      <button type="submit">Enviar</button>
    </form>
  </div>
  <SocialLinks direction="horizontal" />
</section>
