---
import Scrolling from "@/components/Scrolling.astro";
---

<style>
    .text-container {
        text-align: center;
        position: relative;
        z-index: 10;
    }

    .dibuja-text {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        gap: 1rem;

        span {
            pointer-events: none;
        }
    }

    .s-letter {
        font-size: clamp(6rem, 4rem + 8vw, 24rem);
        transition: all 0.3s ease;
    }

    .dibuja-word {
        font-size: clamp(2rem, 2rem + 5vw, 10rem);
        transition: all 0.3s ease;
    }

    .dibuja-text.hovered .s-letter {
        font-size: clamp(10rem, 6rem + 10vw, 36rem);
        color: #ff6f61 !important;
    }

    .dibuja-text.hovered .dibuja-word {
        font-size: clamp(4rem, 3rem + 6vw, 18rem);
        color: #007bff;
    }
</style>

<section class="section s1">
    <div class="text-container">
        <div class="dibuja-text">
            <span class="s-letter">S</span>
            <span class="dibuja-word">dibuja</span>
        </div>
    </div>
    <Scrolling direction="down" />
</section>
