---
import Scrolling from "@/components/Scrolling.astro";
import Instagram from "@/assets/instagram.svg";
import Linkedin from "@/assets/linkedin.svg";
---

<style>
    .text-container {
        text-align: center;
        position: relative;
        z-index: 10;
    }

    .dibuja-text {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        gap: 1rem;

        span {
            pointer-events: none;
        }
    }

    .s-letter {
        font-size: clamp(6rem, 4rem + 8vw, 24rem);
        transition: all 0.3s ease;
        font-family: Sentient;
        color: var(--color-secondary);
    }

    .dibuja-word {
        font-size: clamp(2rem, 2rem + 5vw, 10rem);
        transition: all 0.3s ease;
        font-family: Bricolage;
        color: var(--color-white-primary);
    }

    .dibuja-text.hovered .s-letter {
        font-size: clamp(10rem, 6rem + 10vw, 36rem);
        color: var(--color-white-primary);
    }

    .dibuja-text.hovered .dibuja-word {
        font-size: clamp(4rem, 3rem + 6vw, 18rem);
        color: var(--color-secondary);
    }

    .banner-link {
        position: absolute;
        display: grid;
        right: 4.5rem;
        justify-items: center;
        row-gap: 0.5rem;
    }

    .banner-link:before,
    .banner-link:after {
        content: "";
        position: absolute;
        width: 12rem;
        height: 1.5px;
        transform: rotate(90deg);
        background: var(--color-secondary);
    }

    .banner-link:before {
        top: -7rem;
    }

    .banner-link:after {
        bottom: -7rem;
    }

    .banner-link svg {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
</style>

<section class="section s1">
    <div class="text-container">
        <div class="dibuja-text">
            <span class="s-letter">S</span>
            <span class="dibuja-word">dibuja</span>
        </div>
    </div>
    <div class="banner-link">
        <a href="https://www.instagram.com/esedibuja/" target="_blank" rel="noreferrer noopener" title="Instagram">
            <Instagram />
        </a>

        <a href="https://www.linkedin.com/in/silviaromerohiguera/" target="_blank" rel="noreferrer noopener" title="Linkedin">
            <Linkedin />
        </a>
    </div>
    <Scrolling direction="down" />
</section>
