---
// components/BentoItem.astro
const { src, alt, span } = Astro.props;
---

<div class={`bento-item ${span}`}>
    <picture>
        <img src={src} alt={alt} loading="lazy" />
    </picture>
</div>
