---
import Scrolling from "@/components/Scrolling.astro";
import Waves from "./Waves.astro";
import { projects } from "@/data/data";
import ProjectCard from "./ProjectCard.astro";
---

<style>
  .s2 .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
    z-index: 20;
  }

  @media (min-width: 48rem) {
    .s2 .projects-container {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  @media (min-width: 1800px) {
    .s2 .projects-container {
      gap: 2rem;
    }
  }
</style>

<section class="section s2">
  <Waves color="#dfdd19" />
  <div class="container projects-container">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
  <Scrolling direction="right" />
</section>
