<!-- <section class="section s2">
  <div class="container projects-container">
    <a href="/ilustracion" class="project-link"> 
      <div class="project">
        <h3>Ilustración</h3>
        <p>Un sitio web creado con Astro y CSS puro para mostrar mi trabajo.</p>
      </div>
    </a>
    <a href="/ia" class="project-link">
      <div class="project">
        <h3>IA</h3>
        <p>Aplicación fullstack con Node.js y MongoDB para gestión de tareas.</p>
      </div>
    </a>
    <a href="/escenografia" class="project-link">
      <div class="project">
        <h3>Escenografía</h3>
        <p>
          Blog con markdown y comentarios dinámicos, enfocado en desarrollo web.
        </p>
      </div>
    </a>
  </div>
</section> -->
<style>
  .s2 .content {
    display: flex;
    flex-direction: column; /* Mobile first: columna */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
    padding-top: 2rem;
  }

  @media (min-width: 768px) {
    .s2 .content {
      flex-direction: row; /* En escritorio: fila */
      justify-content: center;
      overflow: hidden;
    }

    .wrapper {
      width: 300px;
      height: 400px;
    }
  }

  .wrapper {
    width: 280px;
    height: 180px;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: all 200ms ease-in-out;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 200ms ease-in-out;
  }

  .book-design-image {
    object-position: center;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
  }

  h3 {
    color: #fff;
    font-size: 1.5rem;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    margin: 0.5rem 0;
    transition: all 200ms ease-in-out;
  }

  .wrapper:hover img {
    transform: scale(1.1);
  }

  .wrapper:hover h3 {
    font-size: 1.8rem;
  }
</style>

<section class="section s2">
  <div class="content">
    <div class="wrapper">
      <div class="image-wrapper">
        <img
          src="https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?auto=format&fit=crop&w=1583&q=80"
        />
      </div>
      <div class="header-wrapper">
        <h3>Ilustración digital</h3>
        <a href="/ilustracion" class="project-link">
          <h3>Ver proyecto</h3>
        </a>
      </div>
    </div>

    <div class="wrapper">
      <div class="image-wrapper">
        <img
          class="book-design-image"
          src="https://images.unsplash.com/photo-1561214115-f2f134cc4912?auto=format&fit=crop&w=1306&q=80"
        />
      </div>
      <div class="header-wrapper">
        <h3>IA</h3>
        <h3>Ver proyecto</h3>
      </div>
    </div>

    <div class="wrapper">
      <div class="image-wrapper">
        <img
          class="book-design-image"
          src="https://images.unsplash.com/photo-1561214115-f2f134cc4912?auto=format&fit=crop&w=1306&q=80"
        />
      </div>
      <div class="header-wrapper">
        <h3>Escenografía</h3>
        <h3>Ver proyecto</h3>
      </div>
    </div>
  </div>
</section>
