---
import Smile from "@/assets/smile.svg";
---

<div class="viewport" id="viewport">
    <div class="slider" id="slider">
        <slot />
    </div>

    <div class="cursor-indicator" id="cursor-indicator">
        <Smile />
    </div>
</div>

<style>
    .cursor-indicator {
        display: none;
        position: fixed;
        pointer-events: none;
        width: 40px;
        height: 40px;
        z-index: 9999;
        will-change: top, left, transform;
        transition: all 0.3s ease;
        color: var(--color-secondary); /* color azul para relleno y borde */
    }

    .cursor-indicator.over-text {
        width: 150px;
        height: 150px;
        background-color: transparent;
        color: transparent; /* quita relleno */
        border: 2px solid var(--color-secondary); /* borde azul */
        border-radius: 50%; /* para que el borde sea redondo */
        box-sizing: border-box;
    }

    .cursor-indicator.over-text .eye,
    .cursor-indicator.over-text .mouth {
        fill: #354093 !important; /* azul */
    }

    @media (min-width: 48rem) {
        .cursor-indicator {
            display: block;
        }
    }
</style>
